div.details-show {
  display: flex;
  justify-content: center;
  margin: 15%;
  margin-top: 0%;
}


.movie-grid {
 display: grid;
 margin: 2%;
 padding: 5%;
 padding-right: 15%;
 grid-gap: 25px;
 border: 3px groove white;
 grid-template-areas:
    "button button title title"
    "image image inventory inventory"
    "image image details details"
    "image image details details";
}

.movie-image {
  margin-left: 15%;
  margin-bottom: 15%;
  grid-area: image;
}

.movie-title {
  grid-area: title;
  margin-left: 15%;
  display:inline;
}

.movie-overview {
  grid-area: details;
  margin-left: 15%;
  width: 100%;
}

.back-button {
  font-size: 1.5rem;
  margin-left: 3%;
  height: 20%;
  padding-top: 2%;
  grid-area: button;
  width: 100%;

}

.details-select-btn {
  display:inline;
  float:right;
  float:clear;
}

.inventory {
  grid-area: inventory;
  margin-left: 15%;
}
